body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 2fr 2fr 2fr ;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar main main main'
    'sidebar main main main';
  height: 100vh;
}



#sidebar {
  grid-area: sidebar;
  height: 100%;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-list {
  padding: 0; 
  font-weight: bold;

}

.sidebar-list-item {
  padding: 10px 20px 10px 30px;
  font-size: 18px;
  color:black;
}
.icon{
  color: #9e9ea4;
  margin-right: 5%;
}
.mbox{
  display: flex;
  justify-content: space-between;
  width: 70vw;
  padding-top: 20px;
}

.arrow{
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 6px;
}
.mbox1{
  display: flex;
  justify-content: space-between;
  width: 75vw;
  padding-top: 20px;
}

.btnn{
  height: 35px;
  border-radius: 5px;
  border:1px solid #F97300;
  background-color: inherit;
  width: 250px;
  color: #F97300;

}
.btnnV{
  height: 35px;
  border-radius: 5px;
  border:1px solid #F97300;
  background-color: inherit;
  width: 250px;
  color: #F97300;
  border: 1px solid blue;

}
.btn1{
  height: 35px;
  border-radius: 5px;
  background: #F97300;
  border: none;
  width: 250px;
  color: aliceblue;
  
}

.maindiv{
  width: 50vw;
}

.btnedit{
  height: 30px;
  border-radius: 5px;
  background: black;
  border: none;
  width: 150px;
  color: aliceblue;
  margin-left: 2%;
  
}

.rmdtl{
  width: 75vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background: #e3e3ec;
  color: #F97300;
  font-weight:bold ;
  padding:5px 5px ;
  margin-bottom: 10px;
}
.inside{
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background: #F97300;
  color: white;
  margin-left: 40px;
  font-size: 12px;
  padding:0 0 2px 2px;
}

.pl{
  padding-left: 5px;
}

.th{
  font-size:22px;
}
.ab{
padding-left: 5%;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
  line-height: 700px;
}





